@charset "utf-8";
@import url('../font/stylesheet.css');
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiAyp8kv8JHgFVrJJLmE3tF.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiDyp8kv8JHgFVrJJLm21llEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiGyp8kv8JHgFVrJJLedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiDyp8kv8JHgFVrJJLmy15lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiDyp8kv8JHgFVrJJLm81xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiGyp8kv8JHgFVrLPTedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
button {
  outline: none;
}
.btn {
  border-radius: 80px;
  padding: 10px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
a:hover,
a:focus {
  text-decoration: none;
}
.btn-info {
  background: transparent !important;
  border: solid 1px #ffffff;
  color: #ffffff;
  transition: all 0.6s;
}
.btn-info:hover {
  color: #0c2963;
  border: solid 1px #0c2963;
}
.btn-primary {
  border: none;
  color: #ffffff;
  background: #ff6f00;
}
.btn-primary:hover {
  background: #0080ae;
}
.btn-secondary {
  display: block;
  padding: 11px 14px;
  margin: 0px;
  border: none;
  color: #ffffff;
  background: #0f244e !important;
}
.d-column {
  flex-direction: column;
}
.m-4 {
  margin: 1.5rem !important;
}
.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}
.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}
.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}
.m-5 {
  margin: 2rem !important;
}
.mt-5,
.my-5 {
  margin-top: 2rem !important;
}
.mr-5,
.mx-5 {
  margin-right: 2rem !important;
}
.mb-5,
.my-5 {
  margin-bottom: 2rem !important;
}
.ml-5,
.mx-5 {
  margin-left: 2rem !important;
}
.m-6 {
  margin: 2.5rem !important;
}
.mt-6,
.my-6 {
  margin-top: 2.5rem !important;
}
.mr-6,
.mx-6 {
  margin-right: 2.5rem !important;
}
.mb-6,
.my-6 {
  margin-bottom: 2.5rem !important;
}
.ml-6,
.mx-6 {
  margin-left: 2.5rem !important;
}
.m-7 {
  margin: 3rem !important;
}
.mt-7,
.my-7 {
  margin-top: 3rem !important;
}
.mr-7,
.mx-7 {
  margin-right: 3rem !important;
}
.mb-7,
.my-7 {
  margin-bottom: 3rem !important;
}
.ml-7,
.mx-7 {
  margin-left: 3rem !important;
}
.m-8 {
  margin: 3.5rem !important;
}
.mt-8,
.my-8 {
  margin-top: 3.5rem !important;
}
.mr-8,
.mx-8 {
  margin-right: 3.5rem !important;
}
.mb-8,
.my-8 {
  margin-bottom: 3.5rem !important;
}
.ml-8,
.mx-8 {
  margin-left: 3.5rem !important;
}
.m-9 {
  margin: 4rem !important;
}
.mt-9,
.my-9 {
  margin-top: 4rem !important;
}
.mr-9,
.mx-9 {
  margin-right: 4rem !important;
}
.mb-9,
.my-9 {
  margin-bottom: 4rem !important;
}
.ml-9,
.mx-9 {
  margin-left: 4rem !important;
}
.m-10 {
  margin: 4.5rem !important;
}
.mt-10,
.my-10 {
  margin-top: 4.5rem !important;
}
.mr-10,
.mx-10 {
  margin-right: 4.5rem !important;
}
.mb-10,
.my-10 {
  margin-bottom: 4.5rem !important;
}
.ml-10,
.mx-10 {
  margin-left: 4.5rem !important;
}
.m-11 {
  margin: 5rem !important;
}
.mt-11,
.my-11 {
  margin-top: 5rem !important;
}
.mr-11,
.mx-11 {
  margin-right: 5rem !important;
}
.mb-11,
.my-11 {
  margin-bottom: 5rem !important;
}
.ml-11,
.mx-11 {
  margin-left: 5rem !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.pr-0,
.px-0 {
  padding-right: 0 !important;
}
.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}
.pl-0,
.px-0 {
  padding-left: 0 !important;
}
.p-1 {
  padding: 0.25rem !important;
}
.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}
.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}
.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}
.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}
.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}
.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}
.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.pt-3,
.py-3 {
  padding-top: 1rem !important;
}
.pr-3,
.px-3 {
  padding-right: 1rem !important;
}
.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}
.pl-3,
.px-3 {
  padding-left: 1rem !important;
}
.p-4 {
  padding: 1.5rem !important;
}
.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}
.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}
.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}
.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}
.p-5 {
  padding: 2rem !important;
}
.pt-5,
.py-5 {
  padding-top: 2rem !important;
}
.pr-5,
.px-5 {
  padding-right: 2rem !important;
}
.pb-5,
.py-5 {
  padding-bottom: 2rem !important;
}
.pl-5,
.px-5 {
  padding-left: 2rem !important;
}
.p-6 {
  padding: 2.5rem !important;
}
.pt-6,
.py-6 {
  padding-top: 2.5rem !important;
}
.pr-6,
.px-6 {
  padding-right: 2.5rem !important;
}
.pb-6,
.py-6 {
  padding-bottom: 2.5rem !important;
}
.pl-6,
.px-6 {
  padding-left: 2.5rem !important;
}
.p-7 {
  padding: 3rem !important;
}
.pt-7,
.py-7 {
  padding-top: 3rem !important;
}
.pr-7,
.px-7 {
  padding-right: 3rem !important;
}
.pb-7,
.py-7 {
  padding-bottom: 3rem !important;
}
.pl-7,
.px-7 {
  padding-left: 3rem !important;
}
.p-8 {
  padding: 3.5rem !important;
}
.pt-8,
.py-8 {
  padding-top: 3.5rem !important;
}
.pr-8,
.px-8 {
  padding-right: 3.5rem !important;
}
.pb-8,
.py-8 {
  padding-bottom: 3.5rem !important;
}
.pl-8,
.px-8 {
  padding-left: 3.5rem !important;
}
.p-9 {
  padding: 4rem !important;
}
.pt-9,
.py-9 {
  padding-top: 4rem !important;
}
.pr-9,
.px-9 {
  padding-right: 4rem !important;
}
.pb-9,
.py-9 {
  padding-bottom: 4rem !important;
}
.pl-9,
.px-9 {
  padding-left: 4rem !important;
}
.p-10 {
  padding: 4.5rem !important;
}
.pt-10,
.py-10 {
  padding-top: 4.5rem !important;
}
.pr-10,
.px-10 {
  padding-right: 4.5rem !important;
}
.pb-10,
.py-10 {
  padding-bottom: 4.5rem !important;
}
.pl-10,
.px-10 {
  padding-left: 4.5rem !important;
}
.p-11 {
  padding: 5rem !important;
}
.pt-11,
.py-11 {
  padding-top: 5rem !important;
}
.pr-11,
.px-11 {
  padding-right: 5rem !important;
}
.pb-11,
.py-11 {
  padding-bottom: 5rem !important;
}
.pl-11,
.px-11 {
  padding-left: 5rem !important;
}
.m-n1 {
  margin: -0.25rem !important;
}
.mt-n1,
.my-n1 {
  margin-top: -0.25rem !important;
}
.mr-n1,
.mx-n1 {
  margin-right: -0.25rem !important;
}
.mb-n1,
.my-n1 {
  margin-bottom: -0.25rem !important;
}
.ml-n1,
.mx-n1 {
  margin-left: -0.25rem !important;
}
html,
body {
  overflow: hidden;
}
body {
  font-family: "Sofia Pro Regular", "Helvetica Neue";
  width: 100%;
  color: #ffffff;
  background: #0f244e;
}
main {
  overflow: hidden;
  display: grid;
}
.btn-primary {
  padding: 10px 42px !important;
}
#search {
  position: relative;
}
header {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-attachment: fixed;*/
  z-index: 777;
}
header .header-section {
  margin-bottom: 30px;
  width: 100%;
}
header .header-section .navbar {
  box-shadow: none;
  margin-top: 20px;
  height: 80px;
  transition: all 0.3s;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
header .header-section .navbar .navbar-brand {
  padding: 0;
  max-width: 200px;
  height: 60px;
  width: 200px;
  display: flex;
  background: url(../images/logo.svg) 0 50% no-repeat;
}
header .header-section .navbar .navbar-brand img {
  max-width: 180px;
}
header .header-section .navbar .navbar-nav a {
  font-weight: 600;
  color: #ffffff;
}
header .header-section .navbar .navbar-nav a:hover {
  color: #00a6e1;
}
header .header-section.aos-animate {
  background: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
header .header-section.aos-animate .navbar {
  padding: 0;
  z-index: 8888;
  height: 80px;
  margin-top: 0px;
  top: 0px;
  max-width: 100%;
  left: 0px;
  display: flex;
  justify-content: center;
}
header .header-section.aos-animate .navbar .navbar-brand {
  padding: 0;
  display: flex;
  max-width: 200px;
  height: 60px;
  width: 200px;
  background: url(../images/logodark.svg) 0 50% no-repeat;
}
header .header-section.aos-animate .navbar a {
  color: #0f244e;
}
header .header-section.aos-animate .navbar a:hover {
  color: #00a6e1;
}
header .navbar-toggler {
  padding: 0;
  z-index: 7777;
  display: inline-flex;
  align-self: stretch;
  background: #0c2963;
  width: 80px;
  height: 80px;
  border-radius: 0px;
  align-items: center;
  justify-content: center;
  position: relative;
}
header .navbar-toggler #nav-icon {
  width: 30px;
  height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  transform: rotate(0deg);
  cursor: pointer;
}
header .navbar-toggler #nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 28px;
  border-radius: 10%;
  background: #ffffff;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
header .navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(1) {
  top: 0px;
}
header .navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(2) {
  top: 9px;
}
header .navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(3) {
  top: 18px;
}
header .navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(1) {
  transform: rotate(45deg);
  top: 6px;
}
header .navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(3) {
  transform: rotate(-45deg);
}
header .navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(3) {
  left: 0px;
  top: 6px;
}
header .navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(2) {
  width: 0px;
  opacity: 0;
}
header #cta {
  margin-left: auto;
  background: #00a6e1;
  align-self: stretch;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
header #cta .btn-special {
  box-shadow: none;
  background: transparent;
  padding: 10px;
  color: #ffffff;
  min-width: 150px;
  justify-content: center;
  text-align: center;
  transition: all 0.2s;
}
header #cta .btn-special:hover {
  color: #06284e;
}
header .navbar-nav {
  align-items: center;
}
header .navbar-nav .btn {
  font-size: 14px;
  top: -4px;
}
header .navbar-nav li {
  padding: 0 !important;
  margin: 0 !important;
  display: inline-flex;
  align-items: center;
}
header .navbar-brand img {
  max-width: 280px;
}
header a {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  margin: 0 12px;
}
header a:hover {
  color: #0f244e;
}
footer {
  background: #06284e;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}
footer ul li {
  font-size: 13px;
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
}
footer ul li .copyright {
  color: #e6e6e6;
  font-size: 13px;
}
footer ul li a {
  color: #ffffff;
}
h1,
h2 {
  color: #ffffff;
  font-size: 60px;
  font-family: "Sofia Pro Bold", sans-serif;
}
h3 {
  color: #ffffff;
  font-size: 37px;
  font-family: "Sofia Pro Bold", sans-serif;
}
h4 {
  color: #ffffff;
  font-size: 28px;
  font-family: "Sofia Pro Bold", sans-serif;
}
h5 {
  color: #ffffff;
  font-size: 28px;
  font-family: "Sofia Pro Bold", sans-serif;
}
h6 {
  color: #898aa2;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Sofia Pro Bold", sans-serif;
}
p,
div {
  color: #898aa2;
  font-size: 16px;
  font-family: "Sofia Pro Regular", sans-serif;
  font-weight: 300;
}
.container-fluid {
  padding: 0;
  margin: 0;
}
.container-fluid .row {
  padding: 0;
  margin: 0;
}
.container-fluid div[class^='col-'],
.container-fluid div[class*='col-'] {
  padding: 0;
  margin: 0;
}
.totop {
  display: flex;
  position: fixed;
  z-index: 99999;
  bottom: 100px;
  right: 50px;
  background: #0f244e;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  opacity: 0.8;
  text-decoration: none !important;
}
.box-content {
  padding: 20px;
  flex-wrap: wrap;
  flex-direction: row;
}
.box-content ul {
  display: inline-flex;
  flex-direction: column;
}
.box-content h4 {
  flex: 1 0 100%;
}
.box-content h6 {
  flex: 1 0 100%;
}
.box-content h3 {
  flex: 1 0 100%;
}
.row {
  position: relative;
}
section {
  position: relative;
}
section h2 {
  margin-bottom: 75px;
}
.success {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hourglass {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  border: solid 3px #FFBD1A;
}
.hourglass svg {
  width: 30px;
  height: auto;
}
.slider-section {
  padding: 0px;
  margin: 0px;
  flex-direction: row;
}
/*Carousel*/
.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}
.fade-in-down-header.wow-in-view,
.fade-in-down.wow-in-view,
.fade-in-left.wow-in-view,
.fade-in-right.wow-in-view {
  opacity: 1;
  transform: translate(0);
}
.fade-in-down,
.fade-in-down-header {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity .6s .1s,transform .6s ease;
  transition-delay: 0ms;
}
.screens-slider .carousel-dots.carousel-indicators {
  display: block;
  bottom: 420px;
  margin: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.screen-circle {
  max-width: 100%;
  width: 21.4vw;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: right;
  object-position: right;
  min-height: 743px;
}
.screen-img {
  width: 22%;
  flex: 0 0 22%;
}
.carousel-dots-each {
  font-size: 16px;
  color: #898aa2;
  position: relative;
}
.carousel-dots-each.active {
  color: #00a6e1 !important;
  font-weight: bold;
}
.carousel-dots-each.active:before {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #00a6e1;
  content: "";
  left: -30px;
}
.carousel-dots-each.active:after {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #00a6e1;
  content: "";
  left: -25px;
  margin-top: 5px;
}
.carousel-dots-each:after {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #898aa2;
  content: "";
  left: -25px;
  margin-top: 5px;
}
.carousel-dots-each:first-child {
  left: -12px;
}
.carousel-dots-each:last-child {
  left: -10px;
}
.carousel-dots-each:nth-child(2) {
  left: -6px;
}
.carousel-dots-each:nth-child(3) {
  left: -2px;
}
.carousel-dots-each:nth-child(4) {
  left: -3px;
}
.screens-main {
  width: 88%;
  flex: 0 0 88%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}
.screens-main .screens-slider .carousel-dots-each {
  border-radius: 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-indent: 0;
  height: 10px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  font-size: 13px;
  color: #b2adb9;
  background: transparent;
  opacity: 1;
}
.screens-main .screens-slider .carousel-inner {
  max-width: 1200px;
  margin: 0 auto;
}
.step-content {
  flex-direction: row;
  position: relative;
}
.step-number {
  position: absolute;
  left: 264px;
  top: 100px;
  z-index: -1;
}
.screens-main .screens-slider .carousel-inner .step-left {
  width: 62%;
  padding-top: 25px;
  margin-left: 0;
}
.screens-main .screens-slider .carousel-inner .step-right {
  position: absolute;
  align-self: center;
  left: 38%;
  max-width: 543px;
  width: 32%;
  padding-left: 69px;
  z-index: 1;
}
.screens-main .screens-slider .carousel-inner .step-right h2 {
  color: #00a6e1;
  font-size: 28px;
}
/*Statistics*/
.venues-section {
  background: #ffffff;
}
.lightgreybg {
  background: #f8f8ff;
}
.indicator,
.statistic {
  font-size: 68px;
  color: #0f244e;
  font-family: sans-serif;
  display: inline-flex;
  line-height: 68px;
}
.number-content {
  flex-wrap: wrap;
  padding: 15px;
}
.number-content h6 {
  font-size: 20px;
  flex: 1 0 100%;
}
/*Logo Section*/
.logo-section {
  padding-top: 0px;
  background: #ffffff;
}
.logo-section .gallery {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.logo-section .gallery div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  padding: 15px;
}
.logo-section .gallery div img {
  max-width: 100%;
  height: auto;
}
.logo-section .row {
  width: 100%;
}
.logo-section .col-md-12 {
  width: 100%;
  flex-wrap: wrap;
}
/*Insights*/
.insights-section {
  background: #0f244e;
}
.insights-section h2 {
  color: #ffffff;
}
/*Benefits*/
.benefits-one,
.benefits-two,
.benefits-three {
  background-color: #E3E2E7;
  height: 80vh;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.limage li {
  position: relative;
  left: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}
.limage li:before {
  position: absolute;
  content: url("../images/check.png");
  width: 16px;
  height: 16px;
  left: -30px;
  margin-top: 5px;
}
/*Three columns*/
.three-columns-section {
  /* background:@thirdiarycolor;*/
}
.three-columns-section .col-md-4 {
  align-self: stretch;
}
.three-columns-section .box-content {
  padding: 15px;
  flex-direction: column;
  background: #ececff;
  display: flex;
  border-radius: 6px;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}
.three-columns-section .box-content h4 {
  margin-top: -40px;
  color: #ffffff;
  font-size: 24px;
}
/*Top Section*/
.top-section {
  display: flex;
  height: 100vh;
  position: relative;
  width: 100%;
  align-items: center;
  background: url("../images/compleft.svg") -15% 50% no-repeat;
}
.top-section .box-content {
  padding: 0px;
}
.top-section h2 {
  margin-bottom: 20px;
}
.top-section h4 {
  margin-bottom: 40px;
}
.top-section .vendorcontainer {
  position: relative;
  z-index: 4;
  padding-top: 90px;
}
.top-section .vendorcontainer-outer {
  background: url('../images/circle.png') 50% 50% no-repeat;
  background-size: contain;
}
.circle {
  transform: scale(0.2, 0.2);
  display: block;
  z-index: -1;
  position: absolute;
  transition: transform 0.3s ease-out;
}
.circle-1 {
  width: 40px;
  right: 16.7vw;
  top: 9vw;
  -webkit-animation: circle1 2s linear infinite;
  animation: circle1 2s linear infinite;
  width: 30px;
}
.circle-2 {
  width: 50px;
  position: absolute;
  right: 18.7vw;
  top: 5vw;
  -webkit-animation: circle2 5s linear infinite;
  animation: circle2 5s linear infinite;
}
.circle-3 {
  width: 80px;
  position: absolute;
  right: 21vw;
  top: 4.5vw;
  -webkit-animation: circle1 3s linear infinite  reverse;
  animation: circle1 3s linear infinite  reverse;
}
.circle-4 {
  width: 90px;
  position: absolute;
  right: 14.2vw;
  top: 3.5vw;
  -webkit-animation: circle4 18s linear infinite;
  animation: circle4 28s linear infinite;
}
.circle-5 {
  transform: scale(0.5, 0.5);
  position: absolute;
  top: 13.9vw;
  left: 20.7vw;
  -webkit-animation: circle5 14s linear infinite;
  animation: circle5 24s linear infinite;
}
@keyframes circle1 {
  0% {
    transform: scale(10%, 10%);
  }
  50% {
    transform: scale(100%, 100%);
  }
  50.1% {
    transform: scale(89%, 89%);
  }
  to {
    transform: scale(10%, 10%);
  }
}
@media (max-width: 1204px) {
  .circle-1 {
    left: 619px;
    top: -142px;
  }
}
@-webkit-keyframes circle2 {
  0% {
    transform: scale(100%, 100%);
  }
  50% {
    transform: scale(20%, 20%);
  }
  50.1% {
    transform: scale(100%, 100%);
  }
  to {
    transform: scale(100%, 100%);
  }
}
@keyframes circle2 {
  0% {
    transform: scale(100%, 100%);
  }
  50% {
    transform: scale(20%, 20%);
  }
  50.1% {
    transform: scale(100%, 100%);
  }
  to {
    transform: scale(100%, 100%);
  }
}
@-webkit-keyframes circle3 {
  0% {
    transform-origin: 200% 70%;
    transform: rotate(1turn);
  }
  50% {
    transform-origin: 200% 70%;
    transform: rotate(0deg);
  }
  50.1% {
    transform-origin: -40% 70%;
    transform: rotate(1turn);
  }
  to {
    transform-origin: -40% 70%;
    transform: rotate(0deg);
  }
}
@keyframes circle3 {
  0% {
    transform-origin: 200% 70%;
    transform: rotate(1turn);
  }
  50% {
    transform-origin: 200% 70%;
    transform: rotate(0deg);
  }
  50.1% {
    transform-origin: -40% 70%;
    transform: rotate(1turn);
  }
  to {
    transform-origin: -40% 70%;
    transform: rotate(0deg);
  }
}
@media (max-width: 1204px) {
  .circle-3 {
    right: 15.5vw;
    top: -4.3vw;
  }
}
.circle-4 {
  right: 14.2vw;
  top: -3.5vw;
  -webkit-animation: circle4 18s linear infinite;
  animation: circle4 18s linear infinite;
}
@-webkit-keyframes circle4 {
  0% {
    transform-origin: 20% 300%;
    transform: rotate(45deg);
  }
  50% {
    transform-origin: 20% 300%;
    transform: rotate(1turn);
  }
  50.1% {
    transform-origin: 20% -50%;
    transform: rotate(0deg);
  }
  to {
    transform-origin: 20% -300%;
    transform: rotate(-1turn);
  }
}
@keyframes circle4 {
  0% {
    transform-origin: 20% 300%;
    transform: rotate(45deg);
  }
  50% {
    transform-origin: 20% 300%;
    transform: rotate(1turn);
  }
  50.1% {
    transform-origin: 20% -50%;
    transform: rotate(0deg);
  }
  to {
    transform-origin: 20% -50%;
    transform: rotate(-1turn);
  }
}
@media (max-width: 1204px) {
  .circle-4 {
    right: 3.8vw;
    top: -9.4vw;
  }
}
.circle-5 {
  top: 13.9vw;
  left: 20.7vw;
  -webkit-animation: circle5 14s linear infinite;
  animation: circle5 14s linear infinite;
}
@-webkit-keyframes circle5 {
  0% {
    transform-origin: 200% 100%;
    transform: rotate(0deg);
  }
  50% {
    transform-origin: 200% 100%;
    transform: rotate(1turn);
  }
  50.1% {
    transform-origin: -40% 70%;
    transform: rotate(0deg);
  }
  to {
    transform-origin: -50% -100%;
    transform: rotate(-1turn);
  }
}
@keyframes circle5 {
  0% {
    transform-origin: 200% 100%;
    transform: rotate(0deg);
  }
  50% {
    transform-origin: 200% 100%;
    transform: rotate(1turn);
  }
  50.1% {
    transform-origin: -100% 70%;
    transform: rotate(0deg);
  }
  to {
    transform-origin: -50% -100%;
    transform: rotate(-1turn);
  }
}
@media (max-width: 1204px) {
  .circle-5 {
    top: 23vw;
    left: 5.8vw;
  }
}
.circle-6 {
  top: 8.9vw;
  left: 12.5vw;
  -webkit-animation: circle6 18s linear infinite;
  animation: circle6 18s linear infinite;
}
@-webkit-keyframes circle6 {
  0% {
    transform-origin: 50% 400%;
    transform: rotate(0deg);
  }
  50% {
    transform-origin: 50% 400%;
    transform: rotate(1turn);
  }
  50.1% {
    transform-origin: 50% -20%;
    transform: rotate(0deg);
  }
  to {
    transform-origin: 50% -20%;
    transform: rotate(-1turn);
  }
}
main {
  position: relative;
  top: 0px;
}
#Container {
  left: 50%;
  top: 80px;
  height: 90vh;
  width: 28%;
  position: absolute;
  z-index: 3;
  /* overflow:hidden;*/
}
#Container1 {
  left: 25%;
  top: 0px;
  height: 90vh;
  width: 28%;
  position: absolute;
  z-index: 0;
}
#Container2 {
  right: 25%;
  top: 0px;
  height: 90vh;
  width: 28%;
  position: absolute;
  z-index: 0;
}
#Tiles {
  width: max-content;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  left: 0;
  top: 0px;
  margin-left: 0px;
  margin: 0;
  padding: 0;
}
.mover-1 {
  transform: translateX(-35.8888%);
  animation: moveSlideshow 8s linear infinite;
}
.mover-1 .d-column {
  width: 200px;
  display: block;
  float: left;
  transform-style: preserve-3d;
}
.mover-1 .d-column:nth-child(2n+1) .title:after {
  background: #0c2963;
}
.front-box {
  z-index: 10;
  position: relative;
}
.title {
  border-radius: 12px;
  width: 180px;
  height: 200px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
  margin: 20px;
  padding: 0;
  cursor: pointer;
  transform-style: preserve-3d;
  overflow: hidden;
  position: relative;
}
.title .video {
  position: relative;
  left: 0;
  top: 0;
  opacity: 1;
  max-height: 250px;
}
.title img {
  width: 60px;
  height: auto;
}
.title:after {
  background: #00a6e1;
  border-radius: 12px;
  position: absolute;
  content: '';
  z-index: -1;
  width: 180px;
  height: 200px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
  -webkit-transform: translate3d(0, 0, 20px);
  transform: translate3d(0, 0, 20px);
  transform: translateZ(-1px);
  /*box-shadow:10px 10px 5px rgba(0,0,0,0.2);*/
}
@keyframes move-the-circle {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(120px, 0px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 400px;
  }
}
@keyframes moveSlideshow {
  100% {
    transform: translateX(0);
  }
}
.box-content .btn {
  display: inline-flex;
  margin: auto;
  flex: 0 0 auto;
}
@media (min-width: 1400px) {
  .mover-1 {
    transform: translateX(-36.8888%);
    animation: moveSlideshow 8s linear infinite;
  }
  @keyframes moveSlideshow {
    100% {
      transform: translateX(-14.8888%);
    }
  }
}
@media (max-width: 1440px) {
  h6 {
    font-size: 16px;
  }
  .indicator,
  .statistic {
    font-size: 48px;
  }
  .top-section {
    display: block;
  }
  .top-section .vendorcontainer {
    max-width: 350px;
  }
  .top-section .vendorcontainer-outer {
    display: flex;
    justify-content: flex-end;
  }
  .top-section #Tiles {
    top: 15vh;
  }
  .top-section .container {
    width: 100%;
  }
  .top-section .container .row {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .top-section .vendorcontainer-outer {
    justify-content: flex-start;
  }
  .mover-1 {
    transform: translateX(-78.8888%);
    animation: moveSlideshow 8s linear infinite;
  }
  @keyframes moveSlideshow {
    100% {
      transform: translateX(-26%);
    }
  }
  .benefits-one .row,
  .benefits-two .row,
  .benefits-three .row {
    align-items: center;
  }
  .screens-slider .carousel-dots.carousel-indicators {
    display: block;
    bottom: 290px;
    margin: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: -10.4%;
  }
  .screen-circle {
    max-width: 100%;
    width: 17vw;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: right;
    object-position: right;
    min-height: 743px;
  }
  .screen-img {
    width: 10%;
    flex: 0 0 10%;
  }
  .screens-main {
    margin-left: 10%;
  }
}
@media (min-width: 1205px) {
  .hidden-on-desktop {
    display: none !important;
  }
  .hidden-on-mobile {
    display: inline-flex !important;
  }
  section {
    height: 100vh !important;
    min-height: unset !important;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-collapse,
  .navbar-expand-lg .navbar-nav {
    align-self: stretch;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}
.order-md-1 {
  -webkit-box-ordinal-group: 2;
  order: 1;
}
.order-md-2 {
  -webkit-box-ordinal-group: 3;
  order: 2;
}
@media (max-width: 767px) {
  .top-section .row .col-md-6:nth-child(2) {
    order: -1;
  }
  #Container {
    width: 100%;
    left: 0;
  }
  section {
    padding-bottom: 40px;
  }
}
/*Landing page*/
.bg-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  transform: translateZ(0);
  will-change: transform;
  z-index: -1;
}
.color-overlay {
  z-index: 0;
}
#signup-home {
  display: block;
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
  height: 90vh;
  min-height: 643px;
  position: relative;
  display: flex;
  align-items: center;
}
#signup-home .container {
  padding-top: 120px;
}
#signup-home .bg {
  background: rgba(255, 255, 255, 0);
  background-image: url("../images/signuptop.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#signup-home h2 {
  color: #ffffff;
  margin-bottom: 20px;
}
#signup-home h4 {
  color: #ffffff;
  font-family: "Sofia Pro Regular";
  font-weight: 400;
}
#signup-home-color-overlay {
  position: fixed;
  background: rgba(27, 28, 48, 0.8);
  height: 100%;
  top: 0;
  width: 100%;
}
.form-outer input,
.form-outer select,
.form-outer textarea {
  outline: none;
}
input:focus {
  outline: 0;
}
.form-outer {
  border-radius: 9px;
  background: rgba(7, 63, 125, 0.9);
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}
.form-outer label {
  font-weight: 500;
  text-transform: uppercase;
  flex: 1 0 100%;
  width: 100%;
  font-size: 14px;
  margin-top: 15px;
  color: #ffffff;
}
.form-outer .btn-primary {
  background-color: #00baf2 !important;
}
.form-outer .fields {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.form-outer .fields .drop-down {
  border-radius: 20px;
  display: inline-block;
  overflow: hidden;
  background-color: #ffffff;
  border-style: none;
  box-shadow: inset 0px 2px 3px #ececff;
  -webkit-box-shadow: inset 0px 2px 3px #ececff;
  width: 100%;
}
.form-outer .fields .wpforms-field-text {
  width: 100%;
}
.form-outer .fields .wpforms-field-text input {
  width: 100%;
  background-color: #ffffff;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: inset 0px 2px 3px #ececff;
  -webkit-box-shadow: inset 0px 2px 3px #ececff;
  height: 35px;
  font-size: 12px;
  line-height: 12px;
  padding-left: 10px;
  padding-right: 10px;
  flex: 1;
  border-style: none;
}
.form-outer .fields .wpforms-field {
  width: 100%;
}
.form-outer .fields .wpforms-field input {
  width: 100%;
  background-color: #ffffff;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: inset 0px 2px 3px #ececff;
  -webkit-box-shadow: inset 0px 2px 3px #ececff;
  height: 35px;
  font-size: 12px;
  line-height: 12px;
  padding-left: 10px;
  padding-right: 10px;
  flex: 1;
  border-style: none;
}
.form-outer .fields .single-line-text {
  width: 100%;
}
.form-outer .fields .single-line-text input {
  width: 100%;
  background-color: #ffffff;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: inset 0px 2px 3px #ececff;
  -webkit-box-shadow: inset 0px 2px 3px #ececff;
  height: 35px;
  font-size: 12px;
  line-height: 12px;
  padding-left: 10px;
  padding-right: 10px;
  flex: 1;
  border-style: none;
}
.form-outer .fields .wpforms-field-row-block {
  width: 100%;
}
.form-outer .fields .wpforms-field-row-block input {
  width: 100%;
  background-color: #ffffff;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: inset 0px 2px 3px #ececff;
  -webkit-box-shadow: inset 0px 2px 3px #ececff;
  height: 35px;
  font-size: 12px;
  line-height: 12px;
  padding-left: 10px;
  padding-right: 10px;
  flex: 1;
  border-style: none;
}
.form-outer .fields select {
  width: 100%;
  height: 34px;
  font-size: 12px;
  line-height: 12px;
  padding-left: 10px;
  padding-right: 10px;
  flex: 1;
  font-size: 16px;
  border: 0px;
  outline: none;
}
#signup-about.three-columns-section .col-md-4 {
  flex-direction: column;
}
#signup-about.three-columns-section .box-content-new {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}
#signup-about.three-columns-section .box-content-new img {
  display: block;
  flex: 1 0 100%;
}
#signup-about.three-columns-section .box-content-new .smallimg {
  display: flex;
  align-items: center;
  height: 150px;
}
#signup-about.three-columns-section .box-content-new h4 {
  align-self: flex-end;
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}
.vendorcontainer-outer {
  background: url('../images/circle.png') 50% 50% no-repeat;
  background-size: contain;
}
#signup-benefits h2 {
  font-size: 65px;
  margin-bottom: 30px;
}
#signup-benefits .vendorcontainer-outer {
  display: flex;
  align-items: center;
  flex-direction: row;
}
#signup-benefits .vendorcontainer-outer img {
  max-width: 350px;
}
.box-content-new {
  flex-wrap: wrap;
}
#benefits-map {
  min-height: 50vh;
}
#benefits-map h2 {
  margin-bottom: 20px;
}
#benefits-map .bg {
  background: rgba(255, 255, 255, 0);
  background: url('../images/lp/map.png') 0 0 no-repeat;
  background-size: cover;
}
#benefits-map .color-overlay {
  position: fixed;
  background: rgba(27, 28, 48, 0.8);
  height: 100%;
  top: 0;
  width: 100%;
}
.white p {
  color: #ffffff;
}
.white h4 {
  color: #ffffff;
}
.white h2 {
  color: #ffffff;
}
.white h5 {
  color: #ffffff;
}
.white h3 {
  color: #ffffff;
}
.white h6 {
  color: #ffffff;
}
.white .btn-primary {
  background-color: #00baf2 !important;
}
#signup-optin {
  display: flex;
  align-items: center;
  min-height: 90vh;
}
#signup-optin h2 {
  margin-bottom: 20px;
}
#signup-optin .bg {
  background: rgba(255, 255, 255, 0);
  background: url('../images/man.png') 0 0 no-repeat;
  background-size: cover;
}
#signup-optin .color-overlay {
  position: fixed;
  background: linear-gradient(0deg, #161e2e 10%, rgba(35, 86, 216, 0.8) 90%);
  height: 100%;
  top: 0;
  width: 100%;
}
#signup-optin h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
#signup-optin .btn {
  margin-top: 40px;
}
#signup-stadium {
  display: flex;
  align-items: center;
  background-size: cover;
  min-height: 90vh;
}
#signup-stadium .bg {
  background: rgba(255, 255, 255, 0);
  background: url('../images/stadiumbg.png') 0 0 no-repeat;
  background-size: cover;
}
#signup-stadium .color-overlay {
  position: fixed;
  background: linear-gradient(0deg, #161e2e 10%, rgba(35, 86, 216, 0.8) 90%);
  height: 100vh;
  top: 0;
  width: 100%;
}
#signup-stadium ul {
  margin: 0px;
  padding: 10px;
}
#signup-stadium li {
  color: #ffffff;
}
#signup-stadium h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
#signup-stadium .btn {
  margin-top: 40px;
}
.wpforms-field-container,
.wpforms-container {
  width: 100%;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 28px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
/*Validataion*/
#validation {
  font-family: "Sofia Pro Regular", sans-serif !important;
  background: #06284e;
}
#validation h2 {
  font-size: 1.8em;
  margin-bottom: 2em;
  margin-top: 1em;
  color: white;
  font-family: "Sofia Pro Regular", sans-serif !important;
}
#validation header .header-section .navbar {
  margin-top: 0 !important;
  background: #041c36;
  height: 80px;
}
#validation #validation-info {
  z-index: -1;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 0;
}
#validation #validation-info .bg {
  background: rgba(255, 255, 255, 0);
  background: url('../images/cdc.svg') 0 0 no-repeat;
  opacity: 0.5;
  background-size: contain;
  background-position: 90% 110px;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
#validation #validation-info .color-overlay {
  position: fixed;
  background: linear-gradient(0deg, #161e2e 10%, rgba(35, 86, 216, 0.8) 90%);
  height: 100%;
  top: 0;
  width: 100%;
}
#validation #validation-info svg.frame {
  width: 100%;
  max-height: 400px;
}
#validation #validation-info svg.frame .st0 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
#validation .validation-image {
  position: absolute;
  background: #00a6e1;
  height: 380px;
  width: 250px;
  border-radius: 10px;
}
#validation #success {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}
#validation #success.active .path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}
#validation #success.active .path.line {
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}
#validation #success.active .path.check {
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}
#validation #success .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
#validation #success .path.circle {
  transform: scale(1, 1);
}
#validation #success .path.line {
  stroke-dashoffset: 1000;
}
#validation #success .path.check {
  stroke-dashoffset: -100;
}
#validation #failure {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}
#validation failure.active .path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}
#validation #failure.active .path.line {
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}
#validation #failure .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}
#validation #failure .path.circle {
  transform: scale(1, 1);
}
#validation #failure .path.line {
  stroke-dashoffset: 1000;
}
#validation #failure .path.check {
  stroke-dashoffset: -100;
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
#validation #success {
  width: 100px;
  height: 100px;
}
#validation #failure {
  width: 100px;
  height: 100px;
}
#validation .tag {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Sofia Pro Regular";
  border-radius: 6px;
  display: flex;
  justify-content: center;
  padding: 12px;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}
#validation .vaccination-info {
  width: 100%;
  color: white;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#validation .vaccination-info h5 {
  color: #FFBD1A;
  text-align: center;
  font-size: 1.5em;
}
#validation .vaccination-info h5.not-valid {
  color: #FF2727;
}
#validation .vaccination-info h5.valid {
  color: #23C58F;
}
#validation .vaccination-info ul {
  font-size: 16px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#validation .vaccination-info ul small {
  display: block;
}
#validation .vaccination-info p {
  font-family: "Sofia Pro Regular";
  color: white;
}
#validation .btn-special {
  flex: 1;
  background: none;
  border: solid 1px #ffffff;
  padding: 12px 22px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Sofia Pro Regular", sans-serif;
  font-size: 1.0em;
  margin-top: 1em;
}
#validation .btn-special:focus {
  color: #00a6e1;
  border-color: #00a6e1;
}
#validation .download-btn {
  display: flex;
  justify-content: center;
  width: 100%;
}
#validation .download-btn img {
  height: 80px;
  width: auto;
}
#validation footer {
  background: transparent;
  z-index: 999999;
  position: fixed;
  height: 100px;
  width: 100%;
  left: 0;
  bottom: 0;
}
@keyframes top-clip {
  50% {
    transform: translateY(21px);
  }
  100% {
    transform: translateY(21px);
  }
}
@keyframes bottom-sand-path {
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bottom-sand-g {
  85% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-9px);
  }
}
@keyframes hourglass-rotation {
  50% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(180deg);
  }
}
#top-sand #top-clip-path rect,
#bottom-sand path,
#bottom-sand g,
svg {
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
#top-sand #top-clip-path rect {
  animation-name: top-clip;
}
#bottom-sand path {
  transform: translateY(21px);
  animation-name: bottom-sand-path;
}
#bottom-sand g {
  animation-name: bottom-sand-g;
}
.hourglass svg {
  animation-name: hourglass-rotation;
}
#comp1 g,
#vendors g {
  transform-box: fill-box;
  transform-origin: center;
  transition: all 0.5s;
  /* transform: scale(0.1) translateX(0px) rotate(0deg);*/
}
.animatemedown1 {
  -webkit-animation: move-the-shapev1 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: move-the-shapev1 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-fill-mode: forwards;
}
.animatemedown2 {
  -webkit-animation: move-the-shapev2 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: move-the-shapev2 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-fill-mode: forwards;
}
.animatemedown3 {
  -webkit-animation: move-the-shapev3 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: move-the-shapev3 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-fill-mode: forwards;
}
.animatemedown4 {
  -webkit-animation: move-the-shapev4 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: move-the-shapev4 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-fill-mode: forwards;
}
.animatemeup1 {
  -webkit-animation: move-the-shapev11 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: move-the-shapev11 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-fill-mode: reverse;
}
.animatemeup2 {
  -webkit-animation: move-the-shapev22 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: move-the-shapev22 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-fill-mode: reverse;
}
.animatemeup3 {
  -webkit-animation: move-the-shapev33 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: move-the-shapev33 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-fill-mode: reverse;
}
.animatemeup4 {
  -webkit-animation: move-the-shapev44 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: move-the-shapev44 2.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-fill-mode: reverse;
}
@keyframes move-the-shapev1 {
  0% {
    transform: scale(0.4) translateX(120px) rotate(90deg);
  }
  100% {
    transform: scale(1) translateX(0) rotate(0);
  }
}
@keyframes move-the-shapev2 {
  0% {
    transform: scale(0.4) rotate(-720deg);
  }
  90% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
@keyframes move-the-shapev3 {
  0% {
    transform: scale(0.1) rotate(720deg);
  }
  90% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
@keyframes move-the-shapev4 {
  0% {
    transform: scale(0.4) translateX(-220px) rotate(90deg);
  }
  100% {
    transform: scale(1) translateX(0) rotate(0);
  }
}
@keyframes move-the-shapev11 {
  0% {
    transform: scale(1) translateX(0) rotate(0);
  }
  100% {
    transform: scale(0.4) translateX(120px) rotate(90deg);
  }
}
@keyframes move-the-shapev22 {
  0% {
    transform: scale(1) rotate(0);
  }
  100% {
    transform: scale(0.4) rotate(-720deg);
  }
}
@keyframes move-the-shapev33 {
  0% {
    transform: scale(1) rotate(0);
  }
  100% {
    transform: scale(0.1) rotate(720deg);
  }
}
@keyframes move-the-shapev44 {
  0% {
    transform: scale(1) translateX(0) rotate(0);
  }
  100% {
    transform: scale(0.4) translateX(-220px) rotate(90deg);
  }
}
.animatebody {
  -webkit-animation: move-the-body 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: move-the-body 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-fill-mode: forwards;
}
@keyframes move-the-body {
  0% {
    transform: scale(0.1) translateY(100);
  }
  100% {
    transform: scale(0.9) translateY(0);
  }
}
#boy1,
#boy2,
#boy3,
#boy4,
#girl1 {
  transform: scale(0);
}
#vendors .st0 {
  fill: #0F244E;
  stroke: #FFFFFF;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
#vendors .st1 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
#vendors .st2 {
  fill: #0F244E;
  stroke: #FFFFFF;
  stroke-width: 1;
  stroke-miterlimit: 10;
}
#vendors .st3 {
  fill: #6AF3F8;
  stroke: #6AF3F8;
  stroke-width: 1;
  stroke-miterlimit: 10;
}
#vendors .st4 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 1;
  stroke-miterlimit: 10;
}
#vendors .st5 {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-width: 1;
}
#vendors .st6 {
  fill: #DCFEFF;
  stroke: #FFFFFF;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
#vendors .st7 {
  fill: #6AF3F8;
  stroke: #6AF3F8;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
#vendors .st8 {
  fill: #0F244E;
  stroke: #FFFFFF;
  stroke-width: 1.0005;
  stroke-linecap: round;
  stroke-miterlimit: 10.0025;
}
#vendors .st9 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
#vendors .st10 {
  fill: #DCFEFF;
  stroke: #FFFFFF;
  stroke-width: 1;
  stroke-miterlimit: 10;
}
#vendors .st11 {
  fill: #0D2C6A;
}
#vendors .st12 {
  fill: #6AF3F8;
  stroke: #6AF3F8;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-miterlimit: 10.0042;
}
#slider {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
#slider .slides {
  bottom: 0;
  overflow: hidden;
  animation-name: fade;
  animation-duration: 1s;
  display: none;
}
#slider .slides img {
  height: 100%;
  width: auto;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.equalize-container-margin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.bg-white {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#infinite1 {
  top: 0;
  left: 50%;
  position: absolute;
}
#infinite1 .verticalcomp {
  animation: bannermove 10.8s linear infinite;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
@keyframes bannermove {
  0% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(0px);
  }
}
#vendors {
  max-height: 98vh;
}
.homepage-features-box p {
  color: #ffffff;
}
.horizontal-scroll {
  height: 100vh;
  overflow: hidden;
  display: flex;
  left: 0;
}
.pin-wrap {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 10vw;
}
.pin-wrap > * {
  min-width: 40vw;
  padding: 0 5vw;
}
.jwpnavbar--up {
  top: -50px;
  transition: ease 0.4s;
}
.jwpnavbar--scrolled {
  height: 50px;
  background: red;
}
@media (max-width: 1204px) {
  #Container1 {
    width: 80%;
    left: 10%;
  }
  .hidden-on-desktop {
    display: flex !important;
  }
  .hidden-on-mobile {
    display: none !important;
  }
  .header-right .header-social .header-heart {
    font-size: 5.4vw !important;
    color: #ff6f00 !important;
  }
  .box-content .btn,
  .theme-btn4 {
    display: flex !important;
    font-size: 3.4vw !important;
    justify-content: center !important;
    text-align: center !important;
  }
  .benefits-one {
    padding-bottom: 50px;
  }
  .homepage-features .homepage-features-box {
    position: absolute;
    top: 16px;
    left: 20px !important;
    top: 20px !important;
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  .homepage-features .homepage-features-box .title-md-white-blackbold {
    margin-bottom: 0 !important;
  }
  .homepage-features .homepage-features-box p {
    display: flex;
    flex: 1 100%;
  }
  header .header-section {
    background: #ffffff;
  }
  header .header-section .container {
    padding: 0;
    width: 100%;
    max-width: unset;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .header-section header .header-section.aos-animate .navbar {
    justify-content: space-between !important;
  }
  header .header-section .navbar {
    width: 100%;
    position: relative;
    margin-top: 0;
  }
  header .header-section .navbar .navbar-brand {
    background: url(../images/logodark.svg) 0 50% no-repeat;
  }
  body {
    overflow: unset !important;
  }
  section {
    height: unset !important;
    min-height: 90vh !important;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navbar-expand-lg .navbar-toggler {
    display: flex !important;
    position: relative;
    right: 0;
  }
  .three-columns-section .container {
    position: relative;
    z-index: 500;
    color: #ffffff;
  }
  .three-columns-section .container p {
    color: #ffffff;
  }
  .three-columns-section h3 {
    margin-bottom: 0px !important;
  }
  .totop {
    display: none;
  }
  .navbar-collapse {
    background: #0f244e;
    position: fixed;
    z-index: 7775;
    display: block;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
  }
  .navbar-collapse ul.navbar-nav {
    position: absolute;
    top: 100px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80vh;
  }
  .navbar-collapse ul.navbar-nav li {
    opacity: 0;
    transition: opacity 0.4s cubic-bezier(0.58, 0.3, 0.005, 1);
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .navbar-collapse ul.navbar-nav li a {
    color: white !important;
    font-size: 24px;
    padding: 0;
    flex: 1 0 auto;
    text-align: center;
  }
  .navbar-collapse ul.navbar-nav li a:hover {
    color: #00a6e1;
  }
  .navbar-collapse.show {
    min-height: 100vh;
    visibility: visible;
    opacity: 1;
    z-index: 7776;
  }
  .navbar-collapse.show ul li {
    opacity: 1;
  }
  .navbar-collapse.show ul li a {
    padding: 3vw 5vw;
    font-size: 8.5vmin;
  }
  .navbar-collapse.show ul li:nth-child(1) {
    transition-delay: 0.2s;
  }
  .navbar-collapse.show ul li:nth-child(2) {
    transition-delay: 0.3s;
  }
  .navbar-collapse.show ul li:nth-child(3) {
    transition-delay: 0.4s;
  }
  .navbar-collapse.show ul li:nth-child(4) {
    transition-delay: 0.5s;
  }
  .navbar-collapse.show ul li:nth-child(5) {
    transition-delay: 0.6s;
  }
  .navbar-collapse.show ul li:nth-child(6) {
    transition-delay: 0.7s;
  }
}
